
name: reviewdog
on: [pull_request]
jobs:
  test:
    runs-on: ubuntu-20.04 
    steps:
    - uses: actions/checkout@v2
    - name: HTML5 Validator
      uses: Cyb3r-Jak3/html5validator-action@v0.4.4
      
